SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
PRIVATE_KEY=YOUR_PRIVATE_KEY
PINATA_API_KEY=YOUR_PINATA_KEY
PINATA_SECRET_API_KEY=YOUR_PINATA_SECRET
NEXT_PUBLIC_CONTRACT_ADDRESS=0xYourContractAddress
